/*hide role-specific div html*/
a.manager{
    display: none;
    padding:16px 16px;
    text-decoration-line: none;
    width:auto;
    border:none;
    display:block;
    outline:0;
    width:100%;
    overflow:hidden;
    white-space:normal;
    text-align:center;
    display:inline-block;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:left;
    cursor:pointer;
    white-space:nowrap
    }

  

  
 
  
  #orderTable td:first-child, #orderTable th:first-child {
       border-left: none;
  }

    #orderTable,#cartable {
        font-family: "Poppins", sans-serif;
        border-collapse: collapse;
        text-align: center;
        width: 100%;
      
        border-collapse:separate;
        border:solid black 1px;
        border-radius:6px;
      }
      
      #orderTable td, #orderTable th,#cartable td,#cartable th {
        border: 1px solid rgb(127, 125, 125);
        font-family: "Poppins", sans-serif;
        text-align: center;
        border-collapse: collapse;
        padding: 8px;
        border-left:solid black 1px;
      border-top:solid black 1px;
        
      }
      
      #orderTable tr:nth-child(even){background-color: #d9d4d4;}
      
      #orderTable tr:hover {background-color: #ddd;}
      
      #orderTable th ,#cartable th{
        padding-top: 12px;
        font-family:  Verdana, Geneva, Tahoma, sans-serif;
        padding-bottom: 12px;
        border-collapse: collapse;
        text-align: center;
        background-color: #3e454b;
        color: white;
        text-emphasis: none;
        text-shadow: #3e454b;
        border-top: none;
      }

      #boards{

      width: auto;
      height: 250px;
      
      }
      #theDiv{
        padding: 20px;
      }

      #about{
        padding-bottom: 60px;
        padding-left: 0;
        left: 0px;

      }

      #aboutImg{
      padding: 30px;
      width: 500px;
      left: 1000px;
      float: right;

      }
  
      #quote{
        width: 300px;
        position: relative;
        text-align: center;
        float: left;
        padding-top: 100px;
        padding-bottom: 100px;
      }
     
      h1{
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 25px;
      }

      #jony{
      margin-top: 340px;
      float: right;
      padding-right: 0;
     
      }

      #footer{
        width:max-content;
      }

      .cart-quantity-input {
        height: 34px;
        width: 50px;
        border-radius: 5px;
        border: 1px solid #56CCF2;
        background-color: #eee;
        color: #333;
        padding: 0;
        text-align: center;
        font-size: 1.2em;
        margin-right: 25px;
    }

    video{
      width: 878;
      height: 550px;
    }
    
    #orderdisplay{
      position: relative;
      padding: auto;
      left: 100px;
    }
    #orderdisplayP{
      position: relative;
      padding: auto;
      left: 50px;
    }

    #mangerPageDiv{
      width: 1000px;
    }

  #imgcart{
    height: 100px;
  }
    
/* ----------------- */


    